<!DOCTYPE html>
<html>


<head>

<title>Notes | EduSphere</title>

<link rel="stylesheet" href="/static/style.css">

</head>



<body>


<h1>
Course Notes 📄
</h1>



<div class="course-container">



<div class="card">

<h2>
Python Notes
</h2>

<p>
Python programming basics
</p>

<a href="/download/Python_Basics.pdf">

<button>
Download PDF
</button>

</a>

</div>




<div class="card">

<h2>
Web Development Notes
</h2>

<p>
HTML CSS JavaScript notes
</p>


<a href="/download/Web_Development.pdf">

<button>
Download PDF
</button>

</a>


</div>





<div class="card">

<h2>
Machine Learning Notes
</h2>

<p>
AI and ML concepts
</p>


<a href="/download/Machine_Learning.pdf">

<button>
Download PDF
</button>

</a>


</div>



</div>


</body>

</html>